.filter
    h2 Búsquedas Guardas
    ul#searchHistory

.filter
    h2 Cartegorías
    ul#listCategories
        li
            a(href="#") Todos
        li
            a(href="#") Terror
        li
            a(href="#") Comedia
        li
            a(href="#") Drama

.filter
    h2 Idioma
    ul#listLang 
        li
            a(href="#") Todos
        li
            a(href="#") Inglés
        li
            a(href="#") Español
        li
            a(href="#") Portugués

.filter
    h2 Publicación
    ul
        li
            a(href="#") Todos
        li
            a(href="#") Hoy
        li
            a(href="#") Hace una semana
        li
            a(href="#") Hace un mes
        li
            a(href="#") Hace un año

.filter
    h2 Presentación
    ul#listEdition
        li
            a(href="#") Impreso
        li
            a(href="#") Digital
        li
            a(href="#") Impreso y Digital