.grid-item
    picture.item-picture
        img(src="",alt="Imagen Titulo")
    .item-content
        .item-title Devil At The Catacombs
        .item-body Et porro recusandae labore cum labore esse aperiam. Aut id dolorum praesentium quidem eveniet optio quas cupiditate dolorem. Cupiditate vel animi nulla aspernatur nemo.