doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/normalize-css/normalize.css", rel="stylesheet")
        link(href="/vendor/awesomplete/awesomplete.css" rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")

    body
        .app
            header.content-head
                .page-logo
                    h1.logo Finder challenge
                nav.navigation
                    button#responsiveButton.button.primary-button menu
                    include blocks/search-form
            main.content-body
                aside#aside.filters
                    include blocks/aside
                content.grid
                    ul#gridContent
            footer
                include blocks/footer

        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")
        script(src="/vendor/awesomplete/awesomplete.min.js")

        //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/grid.js")
        script(src="/scripts/app.js")